@model List<Wantoeat.Web.ViewModels.Recipes.RecipeSimpleViewModel>

@using Wantoeat.Common
@using Wantoeat.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Do you Wantoeat?</h1>
</div>
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
<div class="row mb-5">
    <div class="col-md-3">
        <a asp-area="Administration" asp-controller="Recipes" asp-action="Create">
            <div class="row border rounded align-content-center mx-auto bg-light" style="height:150px; text-align:center">
                <h3 class="font-weight-light mx-auto">Create Recipe</h3>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-area="Administration" asp-controller="Ingredients" asp-action="Create">
            <div class="row border rounded align-content-center mx-auto bg-light" style="height:150px; text-align:center">
                <h3 class="font-weight-light mx-auto">Create Ingredient</h3>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-controller="Recipes" asp-action="All">
            <div class="row border rounded align-content-center mx-auto bg-light" style="height:150px; text-align:center">
                <h3 class="font-weight-light mx-auto">Edit recipe</h3>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-controller="Ingredients" asp-action="All">
            <div class="row border rounded align-content-center mx-auto bg-light" style="height:150px; text-align:center">
                <h3 class="font-weight-light mx-auto">Edit ingredient</h3>
            </div>
        </a>
    </div>

</div>
}
<div class="row mb-5">
    <div class="col-md-6">
        <a asp-controller="Home" asp-action="SearchByIngredients">
            <div class="row border rounded align-content-center mx-auto" style="height:150px; text-align:center">
                <h1 class="font-weight-light mx-auto">What do you have in your fridge?</h1>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a asp-controller="Recipes" asp-action="All">
            <div class="row border rounded align-content-center mx-auto" style="height:150px; text-align:center">
                <h1 class="font-weight-light mx-auto">Or you want to take a look?</h1>
            </div>
        </a>
    </div>
</div>
@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="row mb-5">
        <div class="col-md-12">
            <a asp-controller="Favorites" asp-action="All">
                <div class="row border rounded align-content-center mx-auto" style="height:150px; text-align:center">
                    <h1 class="font-weight-light mx-auto">Show me my Favorite things Toeat</h1>
                </div>
            </a>
        </div>
    </div>
}
<p>Browse our recipes:</p>
<div class="d-flex justify-content-between">
    <div id="recipes-search-bar-holder" class="form-group d-flex justify-content-between w-100">
        <input type="text" class="form-control text-primary" id="recipes-search-bar" name="search" placeholder="Search..." />
    </div>
</div>
<hr class="hr-2">
<div id="recipes" class="mt-3">
    @for (int i = 0; i < Model.Count; i += 5)
    {
        <div class="recipes-row row d-flex justify-content-around my-5">
            @for (int j = i; j < i + 5; j++)
            {
                if (j < Model.Count)
                {
                    <div class="recipe col-md-2">
                        <div class="card" style="height:100%">
                            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@Model[j].Id">
                                <img class="card-img-top mx-auto d-block" style="width:155px; height:155px;" src="@Url.Content(Model[j].ImagePath)">
                                <div class="card-body">
                                    <div class="card-title text-center">@Model[j].Name</div>
                                </div>
                            </a>
                        </div>
                        <h5 class="text-primary text-center mt-3" hidden>@Model[j].Name</h5>
                    </div>
                }
                else
                {
                    <div class="recipe col-md-2 empty">
                    </div>
                }
            }
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $('#recipes-search-bar').on("change paste keyup", function () {
        $('.recipe').show();

        let searchValue = $('#recipes-search-bar').val();

        for (let elem of $('.recipe')) {
            let recipeName = $($(elem).children()[1]).text();

            if (!recipeName.toLowerCase().includes(searchValue.toLowerCase())) {
                $(elem).hide();
            }
        }
    });
</script>
